@model qlkdstDB.EF.tour
@using qlkdst.Common
@{
    ViewBag.Title = "File chi tiết tour";
    Layout = null;

    string sRoleName = Session["RoleName"].ToString();
}

<div class="ds col-md-12">

    <!--Danh sach tour-->
    <div class="col-sm-12 col-md-12" style="overflow-x: auto">
        <h3>File chi tiết tour</h3>
        @{
            string sFilePath = ViewBag.ViewUploadPath + Model.chuongtrinhtour;

            string encodePath = DungChung.FTP_PATH + DungChung.TL_FTP_PATH + Model.chuongtrinhtour;
            encodePath = encodePath.Replace(":", "aabbccddee");
            encodePath = encodePath.Replace("/", "asdfghjkl");
            encodePath = encodePath.Replace("+", "aqwsedrf");

        }



        @if (Model.chuongtrinhtour != null)
        {
            <a href="@Url.Action("ShowSoftwareNewJsTreeFTP", "QLKhachDoan",new { path = encodePath })" target="_blank">
                @Model.chuongtrinhtour
            </a>
        }

    </div>

    <!--/ Danh sach tour-->

</div>

