@model qlkdstDB.EF.tour
@using qlkdst.Common
@{
    ViewBag.Title = "File chi tiết tour";
    Layout = null;

    string sRoleName = Session["RoleName"].ToString();
}

<div class="ds col-md-12">

    <!--Danh sach tour-->
    <div class="col-sm-12 col-md-12" style="overflow-x: auto">
        <h3>File Dịch vụ</h3>
        @{

            string sFilePath = ViewBag.ViewUploadPath + Model.dichvu;

            string encodePath = DungChung.FTP_PATH + DungChung.DV_FTP_PATH + Model.dichvu;
            encodePath = encodePath.Replace(":", "aabbccddee");
            encodePath = encodePath.Replace("/", "asdfghjkl");
            encodePath = encodePath.Replace("+", "aqwsedrf");
        }

        @*@if (Model.dichvu != null)
        {
            <a href="@sFilePath" target="_blank">File dịch vụ</a>
        }*@
        @if (Model.dichvu != null)
        {
            <a href="@Url.Action("ShowSoftwareNewJsTreeFTP", "CacDV",new { path = encodePath })" target="_blank">
                @Model.dichvu
            </a>
        }

    </div>

    <!--/ Danh sach tour-->

</div>


