@model qlkdst.Data.ViewModel.dmkhachtourVM


<script src="~/Scripts/script-custom-validator.js"></script>
<section class="content">

    <div class="grid-1">
        @*<div class="box">
            <div class="box-body">*@
        <div class="col-md-12 form-body">
            <form id="frmUpload"  enctype="multipart/form-data" method="post">

                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.idtour)

                <input type="hidden" id="hidaddtourid" value="@Model.idtour" />
                <div class="form-group">
                    <label class="col-sm-2 control-label">   Download file mẫu:</label>
                    <div class="col-sm-10">
                        <a href="~/ExcelFiles/DmKhach/danh muc khach tour mau.xlsx" target="_blank">Danh mục khách Excel mẫu</a>
                    </div>

                </div>
                <div class="form-group">
                    <label for="fileDmKhach" class="col-sm-2 control-label">    Chọn file:</label>
                    <div class="col-sm-10">
                        <input type="file" id="fileDmKhach" name="fileDmKhach" asp-for="@Model.uploadExcel" />
                        @*<input type="file" id="dataFile" name="uploadExcel" class="form-control" />*@
                    </div>

                </div>


                <div class="col-sm-offset-2">
                    <input type="button" id="btnSave" value="Lưu" class="btn btn-primary" />
                    <input type="button" class="btn btn-warning dongdmkhach" value="Quay lại" />

                </div>
            </form>


        </div>
        @*</div>
            </div>*@
    </div>



</section>



<script>
        $(function () {
            $(".date-picker").mask("99/99/9999");
        });

        $('.dongdmkhach').on('click', function () {
            $('#ModalKhachTour').hide(500);
            $('.dskhachtour').show(500);
        });

        function GetDSKhachDiTour(id) {

            $.ajax({
                url: '/QLKhachDoan/LayDSKhachTour',
                data: { id: id },
                type: 'GET',
                success: function (data) {
                    $('#tabdskhachtour').html(data);
                }
            });
        }

        $('#btnSave').on('click', function () {
            debugger
            if ($('#frmUpload').valid()) {
                 
                var formData = new FormData();
                var fileDmKhach = $('#fileDmKhach')[0].files;
                for (var i = 0; i != fileDmKhach.length; i++) {
                    formData.append("uploadExcel", fileDmKhach[i]);
                }              

                formData.append("idtour", $('#hidaddtourid').val());

                $.ajax({
                    cache: false,
                    type: 'POST',
                    data: formData,
                    url: "/QLKhachDoan/ThemKhachImport",
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function (response) {
                        debugger
                        if (response) {
                            var id = $('#hidaddtourid').val();//lay o trang ThemKhach                        /
                            GetDSKhachDiTour(id);
                        }
                    }
                });
          
            }

        });

</script>


