<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--<add name="qlkdtrEntities" connectionString="metadata=res://*/EF.qlkhachdoanModel.csdl|res://*/EF.qlkhachdoanModel.ssdl|res://*/EF.qlkhachdoanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FS4DEPT\SQL2016TR;initial catalog=qlkdtr;user id=admin;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strkhi_goiprocedure" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-FS4DEPT\SQL2016TR;Initial Catalog=qlkdtr;Integrated Security=False;User Id=admin;Password=123456;MultipleActiveResultSets=True" />-->

  
    <!--<add name="qlkdtrEntities" connectionString="metadata=res://*/EF.qlkhachdoanModel.csdl|res://*/EF.qlkhachdoanModel.ssdl|res://*/EF.qlkhachdoanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.68.170.128;initial catalog=qlkdtr;user id=quangtrung;password=trung@2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strkhi_goiprocedure" providerName="System.Data.SqlClient" connectionString="Data Source=118.68.170.128;Initial Catalog=qlkdtr;Integrated Security=False;User Id=quangtrung;Password=trung@2019;MultipleActiveResultSets=True" />-->
    
    <add name="qlkdtrEntities" connectionString="metadata=res://*/EF.qlkhachdoanModel.csdl|res://*/EF.qlkhachdoanModel.ssdl|res://*/EF.qlkhachdoanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;Failover Partner=.;initial catalog=qlkdtr;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strkhi_goiprocedure" providerName="System.Data.SqlClient" connectionString="Data Source=.;Failover Partner=.;Initial Catalog=qlkdtr;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>